* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.233);
  color: rgb(12, 12, 12);
  margin: 0 auto;
}
/* grid */
header {
  grid-area: header;
}
menu {
  grid-area: menu;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

.grid-container {
  min-height: 100vh;
  min-width: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    " menu main main"
    "footer footer footer";
  grid-template-columns: auto 80% auto;
  grid-template-rows: auto 80% auto;
}

/* grid */
/* comienzo con header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(26, 79, 129, 0.87);
  padding: 5px;
  font-weight: 300;
  font-style: normal;
  font-size: xx-large;
}
/* temmino de header */

/* comienzo con menu y flexbox */
.menu {
  margin: 0;
}

.grid-container {
  display: flexbox;
  flex: 1;
  text-align: left;
  padding: 5px;
}
a {
  text-decoration: none;
  color: black;
}
.grid-container h1 {
  font-size: medium;
  font-weight: 300;
  font-style: normal;
}
.grid-container p {
  font-size: small;
  font-weight: 300;
  font-style: normal;
  font-size: medium;
  padding: 10px;
}
p span {
  color: rgba(26, 79, 129, 0.87);
  font-weight: 200px;
  font-style: normal;
  font-size: medium;
}
/* comienzo main flexbox*/
main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; /* Espacio entre las celdas */
  margin-bottom: 20px;
  padding: 2rem 5rem 6rem 5rem;
  justify-items: center;
}
.color-container {
  background-color: white;
  text-align: center;
  width: 200px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div img {
  width: 200px;
  height: 200px;
}
div p {
  margin: 0;
  padding: 0;
}
.texto2 {
  background-color: rgba(26, 79, 129, 0.87);
  padding: 10px;
  width: 200px;
  border: none;
  color: white;
  cursor: pointer;
}

/* termino de main */
/* comienzo de footer */
.footer {
  color: rgba(66, 63, 63, 0.521);
  background-color: white;
  font-style: normal;
  font-size: medium;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
