* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.233);
  color: rgb(12, 12, 12);
  margin: 0 auto;
}

header {
  grid-area: header;
}
menu {
  grid-area: menu;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

.grid-container {
  min-height: 100vh;
  min-width: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    " menu main"
    "footer footer";
  grid-template-columns: auto 80%;
  grid-template-rows: auto 80% auto;
}


/* grid */
/* comienzo con header */
.header {
  text-align: center;
  color: white;
  background-color: rgba(26, 79, 129, 0.87);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: small;
  padding: 5px;
}
/* temmino de header */

/* comienzo con menu y flexbox */
.menu {
  margin: 0;
}
.flex-container {
  display: flexbox;
  flex: 1;
  text-align: left;
}
.flex-container h1 {
  font-size: medium;
  font-weight: 300;
  font-style: normal;
}
.flex-container p {
  font-size: x-small;
  font-size: small;
  font-weight: 100;
  font-style: normal;
}
span {
  color: rgba(0, 0, 0, 0.233);
}
/* comienzo main flexbox*/
.container {
  display: flex;
  gap: 30px;
}
ul {
  list-style: none;
  text-align: center;
}
li img {
  width: 200px;
  height: 200px;
}
.color-container {
  background-color: white;
  width: 200px;
}
.texto2 {
    
  padding: 3px;
  background-color: rgba(26, 79, 129, 0.87);
  width: 200px;
}

/* termino de main */
/* comienzo de footer */
.footer {
  color: rgba(66, 63, 63, 0.521);
  background-color: white;
  font-size: small;
  flex: 1;
  text-align: center;
}
